* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.field {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-template-columns: 33.3% 33.3% 33.3%;
    border: 3px solid;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 1px black;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
}

.b1-1,
.b1-2,
.b1-3 {
    border-top: ridge transparent;
}

.b1-3,
.b2-3,
.b3-3 {
    border-right: ridge transparent;
}

.b1-1,
.b2-1,
.b3-1 {
    border-left: ridge transparent;
}

.b3-1,
.b3-2,
.b3-3 {
    border-bottom: ridge transparent;
}

.nought,
.cross {
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.cross {
    background-image: url(../images/cross.png);
}

.nought {
    background-image: url(../images/nought.png);
}

#gameResult {
    height: 2rem;
    font-size: 1.5rem;
}

#restartGame {
    height: 4rem;
    font-size: 2rem;
    visibility: hidden;
}

.restartButton {
    background-color: chocolate;
    border-radius: 0.5rem;
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
}

.restartButton:hover {
    cursor: pointer;
    background-color: darkgreen;
}